body{
    margin: 50px 200px;
    background-image: url(images/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    padding: 40px;
    background-color: white;
    min-height: 100vh; /*내가 보는 화면의  높이만큼*/
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.task-area{
    border: 2px solid rgba(171, 170, 192, 0.493);
    margin-top: 2em;
}
.task-tabs{
    display: flex; /*가로 정렬*/
    border-bottom: 2px solid rgb(190, 190, 190);
    position: relative; /*기준점이 됨*/
}
.task-tabs div{
    padding: 1em;
}
#add-button {
    background-color: #af74fcb7; 
    color: white; 
    border: none;
    padding: 8px 12px; 
    font-size: 1.2rem; 
    cursor: pointer; 
    border-radius: 10%; 
    transition: background-color 0.3s ease; 
    margin-right: 5px;
}



#task-input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
    width: calc(100% - 80px); 
    margin-right: 10px;
}

#task-input:focus {
    border-color: #007bff;
    outline: none;
}

#under-line{
    height: 4px;
    background-color: rgba(253, 166, 246, 0.76);
    position: absolute;
    width: 43px;
    left: 9px;
    top: 52px;
    padding: 0px;
}
.task{
    display: flex;
    justify-content: space-between; /*간격*/
    padding: 1em;
    border: 1px solid #ccc; 
    
}
.task-tabs div{
    cursor: pointer;
}
.task-done{
    text-decoration: line-through;
}
.button-check {
    background-color: #28a745;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.button-delete {
    background-color: #dc3545;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}
.button-check-done {
    background-color: #3e8e41;
}

.task-completed {
    background-color: #dabbff88; 
}